body {
    font-family: 'Raleway', sans-serif;
}
.letraoscura {
    font-weight: 700;
}
.letranormal {
    font-weight: 400;
}
.letraclara {
    font-weight: 200;
}
.seccion {
    text-align: center;
    width: 60%;
}